a.widget-box:hover {
    text-decoration: none;
    cursor: pointer !important;
}


#movement .body{
    max-height: 300px;
    overflow-y: auto;
}

#movement .body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 5px;
}

#movement .body::-webkit-scrollbar
{
    width: 7px;
    background-color: #F5F5F5;
}

#movement .body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
    40% 0%,
    75% 84%,
    from(#4D9C41),
    to(#19911D),
    color-stop(.6,#54DE5D))
}