.model-copy .info-box-2 {
    cursor: pointer !important;
}

.info-box-selected {
    opacity: .3;
    cursor: default;
}

.options-selected {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.selectpicker .btn-primary {
    background-color: red !important;
}


#navbar-collapse .dropdown .label-count{
    top: 25px !important;
    right: 0 !important;
    background-color: #9f0d0e;
}