
.costum-card {
    background: #fffffff0;
}


.border-pin{
    border-radius: 50px 0 0 10px;
    border-left: 8px solid #562d41;
}

body{
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-x;
}

.m-b-0{
    margin-bottom: 0 !important;
}


.logo img{
    /* margin: 17px; */
    background: #562d41;
    padding: 9px 23px !important;
    height: 70px !important;
    margin-bottom: 13px !important;
    border-radius: 47px 7px 7px;
    /* width: 125px; */

}


.content{
    margin: 100px 15px 0 0px !important;
}


.costum-form-control{
    background-color: #ffffffa1 !important;
    background-image: none !important;
    border: 1px solid rgba(151, 149, 149, 0.35) !important;
    border-radius: 2px !important;
     -webkit-box-shadow: none !important;
     box-shadow:none !important;
     -webkit-transition: none !important;

}