@charset "UTF-8";
/*!
 * vue2-animate v1.0.4
 * (c) 2016 Simon Asika
 * Released under the MIT License.
 * Documentation: https://github.com/asika32764/vue2-animate
 */
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}
@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
.bounce-enter-active,
.bounceIn,
.bounce-leave-active,
.bounceOut {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.bounce-enter-active,
.bounceIn {
  animation-name: bounceIn;
}
.bounce-leave-active,
.bounceOut {
  animation-name: bounceOut;
}
.bounceUp-enter-active,
.bounceInUp,
.bounceUp-leave-active,
.bounceOutUp {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.bounceUp-enter-active,
.bounceInUp {
  animation-name: bounceInUp;
}
.bounceUp-leave-active,
.bounceOutUp {
  animation-name: bounceOutUp;
}
.bounceRight-enter-active,
.bounceInRight,
.bounceRight-leave-active,
.bounceOutRight {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.bounceRight-enter-active,
.bounceInRight {
  animation-name: bounceInRight;
}
.bounceRight-leave-active,
.bounceOutRight {
  animation-name: bounceOutRight;
}
.bounceLeft-enter-active,
.bounceInLeft,
.bounceLeft-leave-active,
.bounceOutLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.bounceLeft-enter-active,
.bounceInLeft {
  animation-name: bounceInLeft;
}
.bounceLeft-leave-active,
.bounceOutLeft {
  animation-name: bounceOutLeft;
}
.bounceDown-enter-active,
.bounceInDown,
.bounceDown-leave-active,
.bounceOutDown {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.bounceDown-enter-active,
.bounceInDown {
  animation-name: bounceInDown;
}
.bounceDown-leave-active,
.bounceOutDown {
  animation-name: bounceOutDown;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutDownBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
.fade-enter-active,
.fadeIn,
.fade-leave-active,
.fadeOut {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fade-enter-active,
.fadeIn {
  animation-name: fadeIn;
}
.fade-leave-active,
.fadeOut {
  animation-name: fadeOut;
}
.fadeUpBig-enter-active,
.fadeInUpBig,
.fadeUpBig-leave-active,
.fadeOutUpBig {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeUpBig-enter-active,
.fadeInUpBig {
  animation-name: fadeInUpBig;
}
.fadeUpBig-leave-active,
.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}
.fadeUp-enter-active,
.fadeInUp,
.fadeUp-leave-active,
.fadeOutUp {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeUp-enter-active,
.fadeInUp {
  animation-name: fadeInUp;
}
.fadeUp-leave-active,
.fadeOutUp {
  animation-name: fadeOutUp;
}
.fadeRightBig-enter-active,
.fadeInRightBig,
.fadeRightBig-leave-active,
.fadeOutRightBig {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeRightBig-enter-active,
.fadeInRightBig {
  animation-name: fadeInRightBig;
}
.fadeRightBig-leave-active,
.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}
.fadeRight-enter-active,
.fadeInRight,
.fadeRight-leave-active,
.fadeOutRight {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeRight-enter-active,
.fadeInRight {
  animation-name: fadeInRight;
}
.fadeRight-leave-active,
.fadeOutRight {
  animation-name: fadeOutRight;
}
.fadeLeftBig-enter-active,
.fadeInLeftBig,
.fadeLeftBig-leave-active,
.fadeOutLeftBig {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeLeftBig-enter-active,
.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}
.fadeLeftBig-leave-active,
.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}
.fadeLeft-enter-active,
.fadeInLeft,
.fadeLeft-leave-active,
.fadeOutLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeLeft-enter-active,
.fadeInLeft {
  animation-name: fadeInLeft;
}
.fadeLeft-leave-active,
.fadeOutLeft {
  animation-name: fadeOutLeft;
}
.fadeDownBig-enter-active,
.fadeInDownBig,
.fadeDownBig-leave-active,
.fadeOutDownBig {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeDownBig-enter-active,
.fadeInDownBig {
  animation-name: fadeInDownBig;
}
.fadeDownBig-leave-active,
.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}
.fadeDown-enter-active,
.fadeInDown,
.fadeDown-leave-active,
.fadeOutDown {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeDown-enter-active,
.fadeInDown {
  animation-name: fadeInDown;
}
.fadeDown-leave-active,
.fadeOutDown {
  animation-name: fadeOutDown;
}
@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1;
  }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}
@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
}
@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}
@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}
@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0;
  }
}
.rotate-enter-active,
.rotateIn,
.rotate-leave-active,
.rotateOut {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.rotate-enter-active,
.rotateIn {
  animation-name: rotateIn;
}
.rotate-leave-active,
.rotateOut {
  animation-name: rotateOut;
}
.rotateUpRight-enter-active,
.rotateInUpRight,
.rotateUpRight-leave-active,
.rotateOutUpRight {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.rotateUpRight-enter-active,
.rotateInUpRight {
  animation-name: rotateInUpRight;
}
.rotateUpRight-leave-active,
.rotateOutUpRight {
  animation-name: rotateOutUpRight;
}
.rotateUpLeft-enter-active,
.rotateInUpLeft,
.rotateUpLeft-leave-active,
.rotateOutUpLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.rotateUpLeft-enter-active,
.rotateInUpLeft {
  animation-name: rotateInUpLeft;
}
.rotateUpLeft-leave-active,
.rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
}
.rotateDownRight-enter-active,
.rotateInDownRight,
.rotateDownRight-leave-active,
.rotateOutDownRight {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.rotateDownRight-enter-active,
.rotateInDownRight {
  animation-name: rotateInDownRight;
}
.rotateDownRight-leave-active,
.rotateOutDownRight {
  animation-name: rotateOutDownRight;
}
.rotateDownLeft-enter-active,
.rotateInDownLeft,
.rotateDownLeft-leave-active,
.rotateOutDownLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.rotateDownLeft-enter-active,
.rotateInDownLeft {
  animation-name: rotateInDownLeft;
}
.rotateDownLeft-leave-active,
.rotateOutDownLeft {
  animation-name: rotateOutDownLeft;
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
.slide-enter-active,
.slideIn,
.slide-leave-active,
.slideOut {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.slide-enter-active,
.slideIn {
  animation-name: slideIn;
}
.slide-leave-active,
.slideOut {
  animation-name: slideOut;
}
.slideUp-enter-active,
.slideInUp,
.slideUp-leave-active,
.slideOutUp {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.slideUp-enter-active,
.slideInUp {
  animation-name: slideInUp;
}
.slideUp-leave-active,
.slideOutUp {
  animation-name: slideOutUp;
}
.slideRight-enter-active,
.slideInRight,
.slideRight-leave-active,
.slideOutRight {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.slideRight-enter-active,
.slideInRight {
  animation-name: slideInRight;
}
.slideRight-leave-active,
.slideOutRight {
  animation-name: slideOutRight;
}
.slideLeft-enter-active,
.slideInLeft,
.slideLeft-leave-active,
.slideOutLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.slideLeft-enter-active,
.slideInLeft {
  animation-name: slideInLeft;
}
.slideLeft-leave-active,
.slideOutLeft {
  animation-name: slideOutLeft;
}
.slideDown-enter-active,
.slideInDown,
.slideDown-leave-active,
.slideOutDown {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.slideDown-enter-active,
.slideInDown {
  animation-name: slideInDown;
}
.slideDown-leave-active,
.slideOutDown {
  animation-name: slideOutDown;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}
@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
  }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
  }
}
@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.zoom-enter-active,
.zoomIn,
.zoom-leave-active,
.zoomOut {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.zoom-enter-active,
.zoomIn {
  animation-name: zoomIn;
}
.zoom-leave-active,
.zoomOut {
  animation-name: zoomOut;
}
.zoomUp-enter-active,
.zoomInUp,
.zoomUp-leave-active,
.zoomOutUp {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.zoomUp-enter-active,
.zoomInUp {
  animation-name: zoomInUp;
}
.zoomUp-leave-active,
.zoomOutUp {
  animation-name: zoomOutUp;
}
.zoomRight-enter-active,
.zoomInRight,
.zoomRight-leave-active,
.zoomOutRight {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.zoomRight-enter-active,
.zoomInRight {
  animation-name: zoomInRight;
}
.zoomRight-leave-active,
.zoomOutRight {
  animation-name: zoomOutRight;
}
.zoomLeft-enter-active,
.zoomInLeft,
.zoomLeft-leave-active,
.zoomOutLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.zoomLeft-enter-active,
.zoomInLeft {
  animation-name: zoomInLeft;
}
.zoomLeft-leave-active,
.zoomOutLeft {
  animation-name: zoomOutLeft;
}
.zoomDown-enter-active,
.zoomInDown,
.zoomDown-leave-active,
.zoomOutDown {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.zoomDown-enter-active,
.zoomInDown {
  animation-name: zoomInDown;
}
.zoomDown-leave-active,
.zoomOutDown {
  animation-name: zoomOutDown;
}
