i.material-icons.custom {
    left: -6px;
    top: -4px;
}

.btn-circle.custom {
    width: 30px !important;
    height: 30px !important;
}

.width100 a {
    width: 100%;
}

.bg-code {
    background-color: #5f96b3 !important;
}

.bg-special-blue {
    background-color: #2687ea !important;
}

.bg-light-special-blue {
    background-color: rgba(142, 205, 255, 0.2); !important;
}

.col-special-blue {
    color: #2687ea !important;
}

.col-code {
    color: #5f96b3 !important;
}

.badge {
    font-size: 13px;
    font-weight: normal;
}

.breadcrumb {
    padding: 8px 8px !important; /*8px 0*/
}

.cursor-pointer {
    cursor: pointer;
}

.module.info-box {
    cursor: pointer;
}

.info-box .content .type {
    right: 12px;
    position: absolute;
    top: 0;
    margin-top: 10px;
    /*color: #bababa;*/
}

@media (min-width: 992px) {
    .info-box .content .number {
        font-size: 20px !important;
    }
}

@media (min-width: 768px) {
    .info-box .content .number {
        font-size: 20px !important;
    }
}

.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
    content: '' !important;
}

a {
    color: #2686eb;
}

.slimScrollDiv .menu li > a{
    display: flex;
}

.slimScrollDiv .menu li .menu-info{
    align-self: center;
}

.notification_read{
    width:100%;position: absolute;background: #e9e8e691;display: inherit;top: 0;height: 100%;right: 0;
}


.dataTables_length .bootstrap-select{
    width: 82px !important;
}

/* Materialize Css | Taken from www.materializecss.com */
/* Media ======================================= */
@media (max-width: 767px) {

    #navbar-collapse{
        display: block;
    }
    #navbar-collapse ul   {

        max-width: 100%;
        text-align: center;

    }
    #navbar-collapse ul li:nth-child(3){
       position: absolute;
    }
}